<h2>My Questions</h2>
<div *ngFor="let discussion of discussions">
  <div>
    <p id="question"><b>Question: {{discussion.question}}</b></p>
  </div>
  Answers:
  <div *ngFor="let answer of discussion.answer">
    <p id="answer">{{answer.answerDescription}}</p>
  </div>
  <div class="buttons">
    <br>
    <button class="btn btn-danger" style="cursor: pointer;" (click)="onEdit(discussion.questionId, discussion.question)">Edit
      Question</button>
    &nbsp;
    <button class="btn btn-danger" style="cursor: pointer;" (click)="onDelete(discussion.questionId)">Delete Question</button>
    &nbsp;
    <div *ngIf="discussion.discussionThreadActive">
      <br>
      <button class="btn btn-danger" style="cursor: pointer;" (click)="onClose(discussion.questionId)">Close Discussion</button>
    </div>
    <div *ngIf="!discussion.discussionThreadActive">
        <br>
        <button class="btn btn-danger" [disabled]="true" style="cursor: pointer;" (click)="onClose(discussion.questionId)">Discussion Closed</button>
      </div>
  </div>
  <br><br>
</div>