<h4>Search Question</h4>
<form [formGroup]="searchStringForm" (ngSubmit)="onSubmitSearchString()">
  <div class="form-group">
    <label for="searchString">Search String</label>
    <input type="text" formControlName="searchString" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.searchString.errors }" placeholder="Search ..."/>
    <div *ngIf="submitted && f.searchString.errors" class="invalid-feedback">
      <div *ngIf="f.searchString.errors.required">Search String is required</div>
    </div>
  </div>

  <div class="form-group">
    <button  class="btn btn-primary">Search</button>
  </div>
</form>
<p>
  {{discusssionResult[0].question}}
</p>